<div class="modal-header">
    <h1>Модели автомобилей</h1>
</div>

<div class="col-lg-4">

    <ul class="nav nav-list">
        <li>
            <a ui-sref="auto_model.add()"> <span class="glyphicon glyphicon-plus"></span> Добавить модель</a>
        </li>
        <li ng-repeat="auto_model in auto_models">
            <a ui-sref="auto_model.view({car_modelId:auto_model.id})">{{ auto_model.name }}</a>
        </li>
    </ul>
</div>

<div class="col-lg-8">
    <div ui-view>
        <div class="jumbotron text-center">

           
        </div>
    </div>

</div>

