<div class="modal-header">
    <h1>Информация</h1>
</div>

<h2>Описание</h2>
<p>Технологии проекта</p>
<ol>
<li>Python</li>
<li>Django</li>
<li>TastyPie</li>
<li>AngularJS</li>
<li>Angular-UI router</li>
<li>Bootstrap</li>
</ol>
<p>Авторизация и пользователи из коробки от проекта Django
чтобы войти в админку /admin</p>

<h2>Доступ</h2>

<p>
    <a href="/admin"> вход через админку</a> su:123
</p>

<h2>Исходники</h2>

<p>
    <a href="https://github.com/it-solution-ru/webdevtest"> https://github.com/it-solution-ru/webdevtest</a>
</p>



<h2>Вопросы</h2>
<table class="table">
    <tr>
        <td>
            <p><span class="glyphicon glyphicon-asterisk"></span>(1) <i>С сервера по api url передается информация о пользователях, в этой информации есть поле password. Как его убрать?</i></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><span class="glyphicon glyphicon-asterisk"></span>(2) <i>При выборе пользователя на странице http://server/#/user выделять выбранный элемент</i></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><span class="glyphicon glyphicon-asterisk"></span>(3) <i>На сервере к модели AutoModel добавить поле author (тот кто сделал эту запись)</i></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><span class="glyphicon glyphicon-asterisk"></span>(4) <i>Реализовать механизм добавления и редактирования "Моделей автомобилей"</i></p>
        </td>
    </tr>


</table>