<!DOCTYPE html>
<html lang="ru-RU" id="app" ng-app="app" ddng-controller="CommonController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>{% block title %}Тест{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/libs/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->



    {% block css %}{% endblock css %}

    {% block js %}
        <script type="text/javascript">
            window.isSiteUser = {% if request.is_user %}true{% else %}false{% endif %};
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_ru-ru.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    {% endblock js %}

    <!--<script src="/static/site/js/tasty-resource.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
    <!--<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>-->

</head>

<body>

<div class="block-content">
    {% block content %}
    {% endblock content %}
</div>


<div class="bs-docs-footer container-fluid">
<div class="row">

</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->



{% block end_js %}
    <script src="/static/site/js/app.js?jsversion=2{{ request.start_time }}"></script>
    <script src="/static/site/js/app_services.js?jsversion=2{{ request.start_time }}"></script>
    <script src="/static/site/js/app_controllers.js?jsversion=2{{ request.start_time }}"></script>
{% endblock end_js %}

<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
</body>
</html>

